@using Helmobilite.ViewModels
@model IEnumerable<IndexDeliveryViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoadAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnloadAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLoadDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryUnloadDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryUnloadExpectedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoadAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnloadAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryLoadDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryUnloadDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryUnloadExpectedDateTime)
            </td>
            <td>
                <a asp-action="Valide" asp-route-id="@item.Id">Livraison Effectuée</a>
                <a asp-action="mISSED" asp-route-id="@item.Id">Livraison Ratée</a>
            </td>
        </tr>
}
    </tbody>
</table>